.fable/
.fake/
.vs/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/js/
release.cmd
release.sh
.idea/
*.orig
*.DotSettings.user
deploy
bundle
.ionide/
src/Server/aws-logger-errors.txt
*.fs.js
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out