group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

nuget Amazon.Extensions.Configuration.SystemsManager
nuget AWS.Logger.SeriLog
nuget Aws4RequestSigner 1.0.1
nuget AWSSDK.DynamoDBv2
nuget AWSSDK.S3
    nuget FSharp.Core
nuget FSharpx.Async
    nuget Giraffe
    nuget Fable.Remoting.Giraffe ~> 3
nuget Giraffe.SerilogExtensions
nuget Json.Net
nuget Serilog.Formatting.Compact
nuget Serilog.Sinks.Console
nuget String.Similarity 3.0.0
nuget System.IdentityModel.Tokens.Jwt

group PTests
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none
nuget DotNetCSharp.AWS.AppSync.Client 1.1.1
nuget Fable.Remoting.DotnetClient
nuget FSharp.Control.Reactive
nuget FSharpx.Async
github deapsquatter/FSharp.SSEClient /src/SSEClient.fs

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
nuget Fable.FontAwesome
nuget Fable.FontAwesome.Free
    nuget Fable.React ~> 5
nuget Fable.React.Flatpickr
    nuget Fable.Remoting.Client ~> 5
nuget Fulma

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem