files:
  "/etc/security/limits.conf":
    mode: "00644"
    owner: "root"
    group: "root"
    content: |
      *         hard    nofile      65536
      *         soft    nofile      65536

commands:
  01restart_docker:
    command: systemctl stop eb-docker.service && systemctl stop docker.service && ulimit -n 65536 && sed -i 's/^OPTIONS=.*/OPTIONS=\"--default-ulimit nofile=65535:65535\"/' /etc/sysconfig/docker && systemctl start docker.service && systemctl start eb-docker.service



